---
import { Image } from "astro:assets";
import SectionHeader from "./SectionHeader.astro";
import testimonial from "../../assets/testimonial.png";
---

<section
  class="px-3 sm:px-5 md:px-7 lg:px-10 xl:px-16 2xl:px-20 mt-10 w-full relative z-40"
>
  <div class="container mx-auto">
    <div
      class="size-full flex items-center justify-center flex-col gap-16 lg:flex-row lg:items-start lg:justify-between lg:gap-0"
    >
      <div
        class="flex items-center h-full justify-center flex-col gap-5 lg:justify-start lg:items-start lg:gap-20"
      >
        <SectionHeader
          text="Testimonials"
          header="What people say about Us."
          className=" capitalize lg:text-left lg:items-start max-w-[409px] text-center items-center"
        />
        <div class="flex items-center justify-center gap-3">
          {
            Array.from({ length: 3 }, (_, index) => index).map((_, index) => (
              <span
                class={`size-3 rounded-full ${index === 0 ? "bg-[#39425D]" : "bg-[#E5E5E5]"}`}
              />
            ))
          }
        </div>
      </div>
      <figure>
        <Image src={testimonial} alt={"testimonial"} width={669} height={356} />
      </figure>
    </div>
  </div>
</section>
